@import '~@angular/material/theming';

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;

    .messages-box {
        flex-grow: 2;
        height: 87%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding-bottom: 1rem;
        
        .message {
            margin: 0 auto;
            width: 90%;
            max-width: 70rem;
            .message-text {
                color: #BDBDBD;
                font-size: 1.3rem;
            }
            .message-info {
                color: #FF9100;
                font-size: 1.1rem;
            }
        }

        .sender-info {
            display: flex;
            flex-direction: row;
            min-width: 7rem;

            mat-icon {
                color: #FF9100;
                display: inline-block;
                width: 3rem;
                height: 3rem;
                font-size: 3rem;
            }
            h5 {
                color: #FF9100;
                padding: 0;
                line-height: 3rem;
                margin-left: 1rem;  
                font-weight: bold;    
            }
        }

        mat-divider {
            margin-bottom: 1rem;
        }

        .message.is-from-me {
            .sender-info {
                text-align: left;
            }
        }
    }

    .message-compose {
        padding-top: 1rem;
        border-top: 1px solid #333;
        flex-grow: 1;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
        
        mat-form-field {
            width: 98%;
            height: 100%;

            textarea {
                height: 7rem;
                resize: none;
                color: #BDBDBD;
                font-size: 1.3rem;
            }
        }

        .btn-aligner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            button {
                margin-right: .5rem;
                margin-left: .5rem;
                
            }
        }
    }
}
