.app-container {
    height: 100%;

    mat-toolbar {
        position: fixed;
        z-index: 999;
        width: 100%;
        border-top: 2px solid #FF9100;

        .app-name {
            color: #fff;    
        }
        .app-name:hover{
            color: #bfbfbf;    
            cursor: pointer;
        }
        .joined-room {
            color: #FF9100;
            margin-left: .5rem;
            &:hover {
                cursor: default;
                user-select: none;
            }
        }
    }

    .router-outlet {
        padding-top: 4.4rem;
        height: 100%;
    }
}