.container-fluid {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;

    .toolbar {
        position: fixed;
        z-index: 999;
        width: 100%;
        left: 0;
        top: 0;

        .app-name {
            color: #fff;    
        }
        .app-name:hover{
            color: #bfbfbf;    
            cursor: pointer;
        }
        .joined-room {
            color: #FF9100;
            margin-left: .5rem;
            &:hover {
                cursor: default;
                user-select: none;
            }
        }
    }
    .content {
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 4.6rem;
    }
}