.common-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;

    app-users-and-conversations {
        flex-grow: 1;
        max-width: 15rem;
    }

    app-chat-box {
        flex-grow: 2;
    }
}

.mat-button-ripple.mat-ripple.mat-button-ripple-round{
    display: none !important;
}